.campo{
    margin: 1.5rem 0;
    
}

.campo label{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.campo input{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 1.875rem  1.25rem;
    outline-color: #6278F7;
    font-size: 1rem;
    box-sizing: border-box;

}

.campo-color input {
    height: 40px;
    padding: 5px 20px;
}